In [4]:
import pandas as pd
import joblib

In [11]:
dummy = {'age': {1: 43.0, 2: 34.0, 3: 65.0, 4: 50.0, 5: 81.0},
 'hypertension': {1: 0, 2: 0, 3: 0, 4: 0, 5: 0},
 'heart_disease': {1: 1, 2: 0, 3: 1, 4: 0, 5: 0},
 'smoking_history': {1: 'never',
  2: 'current',
  3: 'never',
  4: 'current',
  5: 'No Info'},
 'bmi': {1: 31.32, 2: 56.8, 3: 40.04, 4: 35.23, 5: 31.32},
 'HbA1c_level': {1: 5.1, 2: 5.9, 3: 7.0, 4: 6.1, 5: 4.9},
 'blood_glucose_level': {1: 94, 2: 97, 3: 98, 4: 75, 5: 110}}

df_dummy = pd.DataFrame(dummy)

In [12]:
df_dummy

,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
1,43.0,0,1,never,31.32,5.1,94
2,34.0,0,0,current,56.80,5.9,97
3,65.0,0,1,never,40.04,7.0,98
4,50.0,0,0,current,35.23,6.1,75
5,81.0,0,0,No Info,31.32,4.9,110

In [6]:
bestmodel = joblib.load("model_dt.pkl")

In [14]:
y_predict_dummy = bestmodel.predict(df_dummy)
y_predict_dummy

array([0, 0, 1, 0, 0])